<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My project</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul id="navBarId" class="nav navbar-nav">
            <li  id="homeId" class="navItem active"><a href="#" th:href="@{/}">Home</a></li>
            <li  id="recordsId" class="navItem"><a href="#" th:href="@{/record/employee}">Records</a></li>
            <li  id="tasksId" class="navItem">  <a href="#" th:href="@{/reference/codes}">Tasks</a></li>
          </ul>
        </div>
      </div>
    </div>
</html>