<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Sofgen Test Data Generator">
<title>Main Layout</title>

<!-- CSS-->
<link th:href="@{/static/css/ghpages-materialize-edited.css}"
	type="text/css" rel="stylesheet" media="screen,projection">
<!-- <link href="http://fonts.googleapis.com/css?family=Inconsolata"
		rel="stylesheet" type="text/css"> -->
<!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet"> -->
<link rel="stylesheet"
	th:href="@{/static/css/materialize-inconsolata.css}">
<link rel="stylesheet" th:href="@{/static/css/materialize-icon.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/datatables.css}">

<!-- SPECIFIC STYLING FOR THE PROJECT -->
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/ers-style.css}">
<link rel="stylesheet" type="text/css"
	href="/ers/static/css/bootstrap.min.css" media="screen">

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" charset="utf8"
	th:src="@{/static/js/datatables.js}"></script>
<script th:src="@{/static/js/materialize.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
<script th:src="@{/static/js/init.js}"></script>
<script th:src="@{/static/js/functions.js}"></script>
<script th:src="@{/static/js/constants.js}"></script>

</head>

<body>
	<header>
		<div th:replace="template/header :: header"></div>
	</header>

	<div class="container center mainContainer" layout:fragment="content">

	</div>

	<footer>
		<div th:replace="template/footer :: footer"></div>
	</footer>

	<!-- PAGE SCRIPT -->
	<script layout:fragment="page-script"></script>

    <main>
	<!-- CONFIRMATION MODAL -->
		<div id="confirm_modal" class="modal">
			<div class="modal-content">
				<h4 id="confirm_modal_header">Confirm</h4>
				<div class="divider"></div>
				<p id="confirm_modal_message"></p>
			</div>
			<div class="modal-footer">
				<div class="divider"></div>
				<a class="modal-action modal-close waves-effect waves-red btn-flat ">No</a>
				<a id="confirm_modal_yes" class="modal-action modal-close waves-effect waves-green btn-flat ">Yes</a>
			</div>
		</div>
		
			<!-- MESSAGE MODAL -->
		<div id="message_modal" class="modal">
			<div class="modal-content">
				<h4 id="message_modal_header">Result</h4>
				<div class="divider"></div>
				<p id="message_modal_message"></p>
			</div>
			<div class="modal-footer">
				<div class="divider"></div>
				<input id="message_modal_close_action" type="hidden" style="display: none;"> 
				<a id="message_modal_close" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
			</div>
		</div>
   		<!-- LOADING PROGRESS -->
		<div id="loading_progress">
			<div class="preloader-wrapper big active">
			    <div class="spinner-layer spinner-blue-only">
			    	<div class="circle-clipper left">
			        	<div class="circle"></div>
			      	</div>
			      	<div class="gap-patch">
			        	<div class="circle"></div>
			      	</div>
			      	<div class="circle-clipper right">
			        	<div class="circle"></div>
			      	</div>
				</div>
			</div>
			<div>
				<h5 id="loading_progress_message">Loading</h5>
			</div>
		</div>
   </main>
</body>
</html>